<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                        style="background-image: url(&quot;assets/img/student02.jpg&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">{{'CRUD-USUARIO.CONTA' | translate}}</h4>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="exampleName"
                                    [ngStyle]="{'border-color': !formOk ? 'red' : null}" [(ngModel)]="form.nome"
                                    placeholder="{{'CRUD-USUARIO.NOME' | translate}}" name="nome">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" id="exampleInputEmail"
                                    [ngStyle]="{'border-color': !emailOk ? 'red' : null}" [(ngModel)]="form.email"
                                    aria-describedby="emailHelp" placeholder="{{'CRUD-USUARIO.EMAIL' | translate}}" name="email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [ngStyle]="" class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !passOk ? 'red' : null}" id="exampleSenhaInput"
                                        [(ngModel)]="form.password" placeholder="{{'CRUD-USUARIO.SENHA' | translate}}" name="senha">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !passOk ? 'red' : null}" [(ngModel)]="confPass"
                                        id="exampleRepeatSenhaInput" placeholder="{{'CRUD-USUARIO.SENHA2' | translate}}"
                                        name="password">
                                </div>
                            </div>

                            <div class="form-group" style="margin-left: 10px;">
                                <span [hidden]="formOk" style="color: red; ">{{'CRUD-USUARIO.CAMPOS' | translate}}</span>
                                <br [hidden]="formOk && passOk">
                                <span [hidden]="passOk" style="color: red; ">{{'CRUD-USUARIO.SENHA-ERR' | translate}}</span>
                                <br [hidden]="((formOk && passOk) || (passOk && emailOk))">
                                <span [hidden]="emailOk" style="color: red; ">{{'CRUD-USUARIO.EMAIL-ERR' | translate}}</span>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user botao-custom" type="button"
                                (click)="formOK()">{{'CRUD-USUARIO.REGISTRAR' | translate}}</button>
                            <hr>
                        </form>

                        <div class="text-center"><a class="small" href="#">{{'CRUD-USUARIO.SENHA-FORGOT' | translate}}</a>
                        </div>
                        <div class="text-center"><a class="small" href="../login">{{'CRUD-USUARIO.CONTA-OK' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../assets/js/theme.js"></script>
<script src="../../../assets/js/bs-init.js"></script>
<script src="../../../assets/js/chart.min.js"></script>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>