<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                        style="background-image: url(&quot;assets/img/student02.jpg&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Crie sua conta!</h4>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="exampleName"
                                    [ngStyle]="{'border-color': !formOk ? 'red' : null}" [(ngModel)]="form.nome"
                                    placeholder="Nome Completo" name="nome">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" id="exampleInputEmail"
                                    [ngStyle]="{'border-color': !emailOk ? 'red' : null}" [(ngModel)]="form.email"
                                    aria-describedby="emailHelp" placeholder="E-mail" name="email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [ngStyle]="" class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !passOk ? 'red' : null}" id="exampleSenhaInput"
                                        [(ngModel)]="form.password" placeholder="Digite sua Senha" name="senha">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !passOk ? 'red' : null}" [(ngModel)]="confPass"
                                        id="exampleRepeatSenhaInput" placeholder="Digite sua senha novamente"
                                        name="password">
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 30px;">
                                <div class="row" [hidden]="formOk">
                                    <span style="color: red; ">Preencher todos os campos</span>
                                </div>
                                <div class="row" [hidden]="passOk">
                                    <span style="color: red; ">Senhas divergentes</span>
                                </div>
                                <div class="row" [hidden]="emailOk">
                                    <span  style="color: red; ">E-mail inválido</span>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user botao-custom" type="button"
                                (click)="formOK()">Registrar</button>
                            <hr>
                        </form>

                        <div class="text-center"><a class="small" href="#">Esqueceu sua senha?</a>
                        </div>
                        <div class="text-center"><a class="small" href="../login">Já possui uma conta? Entre aqui!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../assets/js/theme.js"></script>
<script src="../../../assets/js/bs-init.js"></script>
<script src="../../../assets/js/chart.min.js"></script>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>